<?xml version="1.0" encoding="GB2312"?>
<!--所有各种服务器参数-->
<Zebra>
	<FLServer>
		<if_CTC>eth0</if_CTC> <!-- 走电信路由的网卡 -->
		<if_CNC>eth0</if_CNC> <!-- 走网通路由的网卡 -->
	
		<!-- Specify the log level[debug,info,warning,error,fatal,always]. -->
		<log>info</log>
		<threadPoolCapacity>40960</threadPoolCapacity>
		<!-- 网关最大连接数量 0表示无限制 -->
		<maxGatewayUser>8000</maxGatewayUser>
		<!-- Specify the log filename. -->
		<logfilename>/tmp/flserver.log</logfilename>
		<!-- 统一用户平台用户管理服务器的列表文件 -->
		<dbAccessServerListFile>dbAccessServerList.xml</dbAccessServerListFile>
		<!-- 服务器信息采集的服务器地址 -->
		<InfoServer port="9903">127.0.0.1</InfoServer>
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://ztgame:ztgame@127.0.0.1:3306/FLServer</mysql>
		<!-- 如果要编码mysql连接字符串请使用工具，配置如下面的例子
		<mysql encode="yes">lmOf.1kySwS0a09j11xyCdI1ySujl1hnCvT0hDitT0hjzv00gzSv00gDSw91tS9fE1</mysql>
		-->
		<!-- 区信息列表文件 -->
		<zoneInfoFile>zoneInfo.xml</zoneInfoFile>
		<!-- 区信息列表数据库 -->
		<zoneInfo_mysql hashcode="20">mysql://ztgame:ztgame@127.0.0.1:3306/LoginServer</zoneInfo_mysql>
		<!-- 跨服登陆数据库 -->
		<roleChange_mysql hashcode="21">mysql://ztgame:ztgame@127.0.0.1:3306/roleChangeServer</roleChange_mysql>
		<!-- 客户端登陆端口，外部使用 -->
		<login_port>7000</login_port>
		<!-- 内部使用端口，用于服务器之间数据传输 -->
		<inside_port>7001</inside_port>
		<!-- 客户端PING端口，外部使用 -->
		<ping_port>7002</ping_port>
		<!-- 游戏编号 -->		
		<app_type>1</app_type>	
		<!-- 是否验证图形验证码 -->
		<jpeg_passport>true</jpeg_passport>
		<!-- master server-->
		<master_bind_port>7009</master_bind_port>
		<!--本机作为从服务器，配置主服务器的IP和端口-->
		<!--
		<master port="7009">127.0.0.1</master>
		-->	

		<!--返回给客户端的图形码配置 -->
		<background_color>103,96,110</background_color>
		<word_color>231,159,27</word_color>

                <!--是否要检查机器UUID被锁0 不检查， 1 检查-->
                <check_uuid>1</check_uuid>
                <!-- 记录UUID log文件路径 -->
                <uuidlogfilename>/tmp/uuid.log</uuidlogfilename>
	</FLServer>
</Zebra>
